@use '../variables';

.billboard {
  text-align: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 400px;

  img {
    width: 100%;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .charlie-martz-other-stories & {
    h1 {
      display: none;
    }
  }

  @media screen and (min-width: variables.$screen-md) {
    max-height: 500px;

    h1 {
      width: 815px;
      padding: 0;
    }
  }
}