@use '../variables';

.media-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .tile{
    overflow: hidden;
    position: relative;
    flex: 0 0 50%;
    img {
        display: block;
        width: 100%;
        padding: 0;
        opacity: 1;
        transition: transform 4s variables.$nice-bezier, opacity .2s variables.$nice-bezier;
        backface-visibility: hidden;
      }
    a.wrapper-link{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: opacity .2s variables.$nice-bezier;
      backface-visibility: hidden;
      text-decoration: none;
      span.title {
          position: absolute;
          width: 100%;
          transform: translateY(-50%);
          transition: top .2s variables.$nice-bezier;
          top: 0;
          text-align: left;
          color: #FFF;
          display: block;
          padding: 0rem 1rem;
          font-size: 2rem;
          line-height: 2.5rem;
          font-weight: 300;
          @media (min-width: variables.$screen-sm) {
            padding: 0rem 3rem;
            font-size: 3.4rem;
            line-height: 4.0rem;
          }
        }
    }
    &.cta-tile{
      background-color: white;
        opacity: 0;
        animation: fadeIn 0.6s variables.$nice-bezier forwards;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 300;
      
        a {
          padding: 2rem;
          opacity: 1;
          display: flex;
          align-items: center;
          color: variables.$light-grey;
      
          span {
            span {
              color: variables.$el-pink;
              text-decoration: underline;
            }
          }
      
          .highlight {
            text-decoration: underline;
          }
        }
      
        @media screen and (min-width: variables.$screen-md) {
          font-size: 3.4rem;
          line-height: 4rem;
      
          a {
            padding: 3rem;
          }
        }
    }
  }
  @media (min-width: variables.$screen-md) {
    .tile{
      flex: 0 0 25%;
      &:hover{
        a.wrapper-link {
            opacity: 1;
            span.title {
              top: 50%;
            }
          }
        
          img {
            transform: scale(1.1);
            opacity: .2;
          }
      }
    }
  }
}

