@use '../variables';

.media-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .tile{
    overflow: hidden;
    position: relative;
    flex: 1 1 50%;
    img {
        display: block;
        width: 100%;
        padding: 0;
        opacity: 1;
        transition: transform 4s variables.$nice-bezier, opacity .2s variables.$nice-bezier;
        backface-visibility: hidden;
      }
    a{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: opacity .2s variables.$nice-bezier;
      backface-visibility: hidden;
      text-decoration: none;
      span {
          position: absolute;
          width: 100%;
          transform: translateY(-50%);
          transition: top .2s variables.$nice-bezier;
          top: 0;
          text-align: left;
          color: #FFF;
          display: block;
          padding: 0rem 1rem;
          font-size: 2rem;
          line-height: 2.5rem;
          font-weight: 300;
          @media (min-width: variables.$screen-sm) {
            padding: 0rem 3rem;
            font-size: 3.4rem;
            line-height: 4.0rem;
          }
        }
    }
  }
  @media (min-width: variables.$screen-md) {
    .tile{
      flex: 1 1 25%;
      &:hover{
        a {
            opacity: 1;
            span {
              top: 50%;
            }
          }
        
          img {
            transform: scale(1.1);
            opacity: .2;
          }
      }
    }
  }
}

