@use '../variables';

.podcast-wrapper {
  background: #030303 url('/images/bg-news.webp') top center no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}