@use '../variables';

.signature {
  display: inline-block;
  margin: 2.0rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 132px;
  height: 70px;
  z-index: 3;
  background: url('/images/el-sig-dutch.svg') top left no-repeat;
  background-size: cover;
  transition: left .3s variables.$nice-bezier;

  .home & {
      background: url('/images/sig-sprite-red.svg') no-repeat;
      background-position: 0 0;
      background-size: auto 100%;
      width: 14rem;
      height: 7rem;
      margin: 2rem 1rem;
      transform: rotate(-5deg);
      animation: signIt 1.3s steps(62) forwards 5.5s;
    
      &.return-visit {
        animation: signIt 1.3s steps(62) forwards 0s;
      }
    
      @media screen and (min-width: variables.$screen-md) {
        transition: none;
        animation: signItLarge 1.3s steps(62) forwards 5.5s;
        position: absolute;
        top: 45%;
        left: 20%;
        width: 22.8rem;
        height: 11.4rem;
    
        &.return-visit {
          animation: signItLarge 1.3s steps(62) forwards 0s;
        }
      }
  }

  @media (min-width: variables.$screen-sm) {
    width: 226px;
    height: 120px;
  }

  .news & {
    @media (min-width: variables.$screen-md) {
      position: fixed;
    }
  }

  .book:not(.charlie-martz-and-other-stories) &,
  .film & .book-index &,
  .film-index & {
    background: url('/images/el-sig.svg') top left no-repeat;
    background-size: cover;
  }

  .book-index &,
  .film-index & {
    left: -300px;
  }
}