@use './variables';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: variables.$el-pink;
  color: white;
}

body {
  font-family: 'Proxima Nova', Sans-Serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;

  // &.news {
  //   background: #000 url('/img/bg-news.jpg') top center no-repeat fixed;
  //   background-size: cover;
  // }d

  &.no-scroll {
    overflow: hidden;
  }
}