/* Regular */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-reg-webfont.eot');
  src: url('/fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/proximanova-reg-webfont.woff2') format('woff2'),
    url('/fonts/proximanova-reg-webfont.woff') format('woff'),
    url('/fonts/proximanova-reg-webfont.ttf') format('truetype'),
    url('/fonts/proximanova-reg-webfont.svg#lincoln_proxima_novaregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Light */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-light-webfont.eot');
  src: url('/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/proximanova-light-webfont.woff2') format('woff2'),
    url('/fonts/proximanova-light-webfont.woff') format('woff'),
    url('/fonts/proximanova-light-webfont.ttf') format('truetype'),
    url('/fonts/proximanova-light-webfont.svg#lincoln_proxima_nova_lightRg') format('svg');
  font-weight: 300;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-bold-webfont.eot');
  src: url('/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/proximanova-bold-webfont.woff2') format('woff2'),
    url('/fonts/proximanova-bold-webfont.woff') format('woff'),
    url('/fonts/proximanova-bold-webfont.ttf') format('truetype'),
    url('/fonts/proximanova-bold-webfont.svg#lincoln_proxima_novabold') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-black-webfont.eot');
  src: url('/fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/proximanova-black-webfont.woff2') format('woff2'),
    url('/fonts/proximanova-black-webfont.woff') format('woff'),
    url('/fonts/proximanova-black-webfont.ttf') format('truetype'),
    url('/fonts/proximanova-black-webfont.svg#lincoln_proxima_nova_blackRg') format('svg');
  font-weight: 900;
  font-style: normal;

}