/* Regular */
@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-reg-webfont.woff2") format("woff2"),
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-reg-webfont.woff") format("woff"),
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-reg-webfont.ttf") format("truetype");
}

/* Light */
@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-light-webfont.woff2") format("woff2"),
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-light-webfont.woff") format("woff"),
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-light-webfont.ttf") format("truetype");
}

/* Bold */
@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-bold-webfont.woff2") format("woff2"),
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-bold-webfont.woff") format("woff"),
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-bold-webfont.ttf") format("truetype");
}

/* Black */
@font-face {
  font-family: "Proxima Nova";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-black-webfont.woff2") format("woff2"),
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-black-webfont.woff") format("woff"),
    url("https://elmoreleonard.nyc3.cdn.digitaloceanspaces.com/fonts/proximanova-black-webfont.ttf") format("truetype");
}