//Colors
$body-grey: #292929;
$text-grey: #383530;
$el-pink: #ec424b;
$light-grey: #9f9f9f;

//Sizes
$max-width: 815px;

//Transitions
$nice-bezier: cubic-bezier(0.165, 0.84, 0.44, 1);

//Breakpoints
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1280px;