---
import Layout from "../layouts/Layout.astro"
import FooterLink from "../components/FooterLink.astro"
---

<Layout>
  <div class="home-billboard">
    <div class="inner"></div>
  </div>
  <footer>
    <FooterLink href="/dutch" label="Dutch" />
    <FooterLink href="/books" label="Books" />
    <FooterLink href="/film" label="Film" />
    <FooterLink href="/news" label="News" />
  </footer>
</Layout>

<style lang="scss">
  @use "../styles/variables.scss" as vars;
  .home-billboard {
    background: vars.$el-pink;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .inner {
      position: relative;
      height: 100vh;
      width: 100vw;
      background: url(/images/bg-home-clear.jpg) top center no-repeat;
      background-size: cover;
    }
  }
</style>
