---
import Layout from "../../layouts/Layout.astro"
import FooterLink from "../../components/FooterLink.astro"
---

<Layout
  sectionTitle="Dutch"
  classNames={["dutch"]}
  pageTitle=`| Elmore Leonard`
>
  <section class="section-wrapper black">
    <h1>The Dickens of Detroit</h1>
    <div class="columned left">
      <p>
        He was born Elmore John Leonard on October 11, 1925 in New Orleans.
        Forty-five novels later he would be known as one of the greatest and
        most prolific American writers of modern fiction.
      </p>

      <p>
        His early life was spent on the move, as his father, a General Motors
        dealership location scout, moved his family throughout the South. The
        family settled in Detroit in 1934 when Elmore was nine years old. He
        would call Detroit home for the rest of his life. When asked why he
        didn’t live in Los Angeles, he would say, “Why would I want to live
        there? Everything I need is here.”
      </p>

      <p>
        As a boy, he was drawn to the stories of outlaws playing out in
        newspapers across the country in the 1930s. A photo of a young Elmore
        taken in Memphis with his mother and sister Margaret shows him with one
        foot on the running board of a car as he points a pistol gangster-style
        at the camera. He was influenced and inspired by the likes of Bonnie and
        Clyde, John Dillinger and Pretty Boy Floyd. In fifth grade, Elmore wrote
        his first piece of fiction, a play based on one of his favorite books, <em
          >All Quiet on the Western Front</em
        >.
      </p>

      <p>
        In high school, he earned the nickname “Dutch,” after the Washington
        Senators knuckleballer Emil “Dutch” Leonard. As for growing up with the
        name Elmore he has said, “It makes you tough.”
      </p>
    </div>
  </section>
  <section class="section-wrapper white"></section>
  <section class="section-wrapper pink"></section>
  <footer>
    <FooterLink href="/books" label="Books" />
    <FooterLink href="/film" label="Film" />
    <FooterLink href="/news" label="News" />
  </footer>
</Layout>
