---
import Layout from "../../layouts/Layout.astro"
---

<Layout
  classNames={["news", "news-index"]}
  pageTitle="News Updates | Elmore Leonard | Official Website"
>
  <div class="news-wrapper"></div>
</Layout>

<style lang="scss" scoped>
  @use "../../styles/variables.scss" as vars;
  .news-index {
    min-height: 100vh;
    background: black;
  }
</style>
