---
export interface FilmProps {
  title: string
  thumbnailUrl: string
  index?: number
  slug: string
}

const { title, slug, thumbnailUrl, index = 0 } = Astro.props
---

<article class="tile film-tile" style={`animation-delay: ${index * 0.1}s`}>
  <img
    src={thumbnailUrl}
    alt={`Thumbnail of ${title}`}
    class="film-thumbnail"
    decoding="async"
  />
  <a class="wrapper-link" href={`/film/${slug}`}>
    <span class="title">{title}</span>
  </a>
</article>

<style lang="scss">
  @use "../styles/variables.scss" as variables;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .film-tile {
    background-color: variables.$body-grey;
    opacity: 0;
    animation: fadeIn 0.6s variables.$nice-bezier forwards;
  }
</style>
